{% extends 'ChatterBoxBundle::dashboard.html.twig' %}

{% block rss %}
    {% for rss in rssEntities %}
        <li>
            <div class="article-post">
                <a href="{{ rss.get_link() }}">{{ rss.get_title() }}</a><br/>{{ rss.get_description() | raw }}
            </div>
        </li>
    {% endfor %}
{% endblock rss %}